<?xml version="1.0"?>
<config>
    <modules>
        <OpenPix_Pix>
            <version>1.1.5</version>
        </OpenPix_Pix>
    </modules>

    <global>
        <helpers>
            <openpix_pix>
                <class>OpenPix_Pix_Helper</class>
            </openpix_pix>
        </helpers>

        <blocks>
            <openpix_pix>
                <class>OpenPix_Pix_Block</class>
            </openpix_pix>
        </blocks>

        <models>
            <openpix_pix>
                <class>OpenPix_Pix_Model</class>
            </openpix_pix>
        </models>

        <resources>
            <openpix_pix_setup>
                <setup>
                    <module>OpenPix_Pix</module>
                    <class>Mage_Paypal_Model_Resource_Setup</class>
                </setup>
            </openpix_pix_setup>
        </resources>
    </global>

    <default>
        <payment>
            <openpix_pix>
                <active>1</active>
                <model>openpix_pix/paymentMethod</model>
                <title>Pay with Pix</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
            </openpix_pix>
        </payment>
    </default>

    <frontend>
        <layout>
            <updates>
                <openpix_pix>
                    <file>openpix/pix/pix.xml</file>
                </openpix_pix>
            </updates>
        </layout>
        <routers>
            <pix>
                <use>standard</use>
                <args>
                    <module>OpenPix_Pix</module>
                    <frontName>openpix</frontName>
                </args>
            </pix>
        </routers>
    </frontend>
</config>